[submodule "modules/xe"]
	path = modules/xe
	url = git@github.com:graeme-hill/crossengine
[submodule "modules/xt"]
	path = modules/xt
	url = git@github.com:graeme-hill/crosstext
[submodule "modules/glfw"]
	path = modules/glfw
	url = git@github.com:graeme-hill/glfw
[submodule "modules/glm"]
	path = modules/glm
	url = git@github.com:graeme-hill/glm
[submodule "modules/glew"]
	path = modules/glew
	url = git@github.com:graeme-hill/glew
