[submodule "modules/xe"]
	path = modules/xe
	url = git@github.com:graeme-hill/crossengine
[submodule "modules/xr"]
	path = modules/xr
	url = git@github.com:graeme-hill/crossrender
[submodule "modules/xt"]
	path = modules/xt
	url = git@github.com:graeme-hill/crosstext
